<!doctype html>
<link rel="stylesheet" href="../static/styles.css"/>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MSURJ AutoLayout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.11.174/build/pdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <script src="../script.js"></script>
</head>
<body>
    <div id="topnav"></div>
    <div class="bg"></div>
    <div class="card">
        <header class="header">
            <div class="title-row">
                <h1>About the MSURJ AutoLayout Tool</h1>
                <img class="title-logo" src="../static/msurj_logo.png" alt="MSURJ Logo"/>
            </div>
                <p>This tool was originally created as a "passion project" by Yavuz, an
                    MSURJ senior editor and U3 Statistics major. His research
                    interests lie mainly in biostatistics and machine learning in
                    healthcare, and he has performed research with the BRAIN and
                    D3Mod labs. Two of his other passion projects include InsideRadar,
                    a platform meant to detect insider trading, and ProfSight McGill,
                    an interactive dashboard to help McGill undergrads make informed
                    decisions during degree planning. Somehow, amidst his research,
                    personal projects, and being in his final year of studies, he
                    found time to make this tool for MSURJ editors to help us out
                    with layout ... Thank you so much Yavuz!
                </p>
                <p>To read more about Yavuz, take a look at his <a href="https://yavuzshahzad.com/">personal website</a>.</p>
        </header>
    <div id="about"></div>
    </div>
  <div id="footer"></div>
  </body>
</html>